/* Geral */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Main */

.verde {
  background-color: #42ff00;
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  border: solid rgba(0, 0, 0, 0.23) 1px;
  box-shadow: 3.5px 5px 5px var(--shadow-effect);
  margin: auto;
}

.amarelo {
  background-color: #faff00;
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  border: solid rgba(0, 0, 0, 0.23) 1px;
  box-shadow: 3.5px 5px 5px var(--shadow-effect);
  margin: auto;
}

.vermelho {
  background-color: #ff0000;
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  border: solid rgba(0, 0, 0, 0.23) 1px;
  box-shadow: 3.5px 5px 5px var(--shadow-effect);
  margin: auto;
}

.status_fix {
  position: relative;
  height: 0;
  width: 0;

  color: transparent;
  /* Desabilitar seleção de texto em todos os navegadores */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Configuração DataTables */

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  /*top: 8px;
  left: 4px;
  height: 16px;
  width: 16px;*/
  display: block;
  position: absolute;
  color: none;
  border-radius: none;
  text-align: center;
  border: none;
  box-shadow: none;
  box-sizing: none;
  background-color: #0000;
  display: block;
  position: absolute;
  content: url(../icones/show-more.svg);

  left: 0.8rem;
}

table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > td:first-child:before,
table.dataTable.dtr-inline.collapsed
  > tbody
  > tr.parent
  > th:first-child:before {
  /*top: 8px;
  left: 4px;
  height: 16px;
  width: 16px;*/
  display: block;
  position: absolute;
  color: none;
  border-radius: none;
  text-align: center;
  border: none;
  box-shadow: none;
  box-sizing: none;
  background-color: #0000;
  display: block;
  position: absolute;
  content: url(../icones/show-less.svg);

  left: 0.8rem;
}

.display {
  background-color: white;
  color: var(--text-color);
  border: 1px solid var(--secondary-color);
  text-align: center;
  width: 100%;
}

.cell-border thead tr th {
  border: 1px solid var(--secondary-color);
  text-align: center;
}

.cell-border tbody tr td {
  border: 1px solid var(--secondary-color);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
  content: url(../icones/avançar.svg);
  font-size: 0%;
  padding: 0 0 0 0;
  height: 1rem;
  margin-left: 0.8rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  content: url(../icones/retroceder.svg);
  font-size: 0%;
  padding: 0 0 0 0;
  height: 1rem;
  margin-right: 0.8rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: none !important;
  margin-top: 1.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: white !important;
  text-decoration: underline !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: 3.5px 5px 5px var(--shadow-effect) !important;
}

.dataTables_busca {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  color: white !important;
  font-size: 1.2rem;
  text-shadow: 3.5px 5px 5px var(--shadow-effect) !important;
}

.dataTables_filter input {
  width: 15.625rem !important;
  height: 2rem !important;
  margin-bottom: 2rem !important;
  color: var(--text-color) !important;
  background-color: white !important;
  border: 1px solid #aaa !important;
  border-radius: 5px !important;
  box-shadow: 3.5px 5px 5px var(--shadow-effect) !important;
}

@media screen and (max-width: 768px) {
  .botao_mobile {
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center !important;
    font-size: 0.66rem;
  }

  .margem_mobile {
    margin-right: 3rem!important;
  }

  .wrapper_mobile {
    flex-wrap: wrap;
    display: inline-block;
  }

  .justify-content-start {
    justify-content: none !important;
  }

  .justify-content-start {
    justify-content: center !important;
  }
}
